<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/header :: header}"></div>
<body>
<div id="app">
    <post-form></post-form>
</div>
<div class="container">
    <header class="py-5 text-center" id="post-header">
        <h1 th:text="${post.title}"></h1>
    </header>
    <section>
        <div style="text-align: right;">
            <p id="created">생성일자: <span th:text="${post.created_at}">게시물 생성일자</span></p>
            <p id="nickname">닉네임: <span th:text="${post.nickname}">게시물 작성자 닉네임</span></p>
            <p id="count">조회수: <span th:text="${totalCount}">게시물 조회수</span></p>
        </div>
    </section>
    <section class="container">
        <div class="content-container">
            <div for="content" th:text="${post.content}"></div>
            <!-- CSRF 토큰 필드 추가 -->
            <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
            <!-- 수정 버튼 -->

            <a sec:authorize="isAuthenticated()"
               th:if="${#authentication.getName() == post.email()}"
               class="btn btn-primary" href="#" role="button"
               th:href="@{/posts/{id}/update(id=${post.postId})}">수정
            </a>

            <!-- 삭제 버튼 -->
            <a sec:authorize="isAuthenticated()"
               th:if="${#authentication.getName() == post.email()}"
               data-postid="${post.postId}" href="#" id="deleteButton">
                <button style="background-color: red; color: white" type="submit">삭제</button>
            </a>

        </div>
    </section>
    <section class="commentALL">
        <!-- 댓글 갯수 표시 -->
        <p class="comment-count">
            댓글 갯수: <span th:text="${postComments.size()}">5</span>
        </p>

        <!-- 댓글 입력 및 목록 -->
        <div class="container">
            <!-- 댓글 입력 form -->
            <form id="comment-form" role="form" th:action="@{/comments/new}" method="post" th:object="${PostCommentRequest}">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
                <!-- post_no 설정 -->
                <input type="hidden" name="post_no" th:value="${post.postId()}" />
                <!-- parent_comment_id 설정 -->
<!--                <input type="hidden" name="parent_comment_id" th:value="${parentCommentId}" /> &lt;!&ndash; 예시로 2로 설정, 부모 댓글 ID에 따라 변경하세요 &ndash;&gt;-->
                <div class="comment-row">
                    <div class="comment-nickname" th:text="${post.nickname()}"></div>
                    <input class="content" id="content" name="content" placeholder="칭찬과 격려의 댓글은 작성자에게 큰 힘이 됩니다." type="text" />
                    <button class="btn btn-primary" id="submit-button" type="submit">입력</button>
                </div>
            </form>


            <!-- 댓글 목록 -->
            <div th:each="comment, iterStat : ${postComments}" style="padding-bottom: 40px;">
                <div class="commentlist">
                    <span class="comment-id" th:text="${comment.nickname}"></span>
                    <span class="comment-text" th:text="${comment.content}"></span>
                    <span class="comment-time" th:text="${comment.createdAt}"></span>
                </div>
                    <div class="comment-actions">
                        <a href="#">좋아요</a>
                        <a href="#">답글 달기</a>
                        <div class="comment-actions" sec:authorize="isAuthenticated()"
                             th:if="${#authentication.getName() == comment.email()}">
                            <a href="#" th:href="@{'/comments/delete/' + ${comment.id} + '/post_no/' + ${post.postId()}}" onclick="return confirm('정말로 삭제하시겠습니까?')">삭제</a>
                        </div>
                    </div>
            </div>
        </div>
    </section>
</div>

</body>
<div th:replace="~{fragments/footer :: footer}"/>

</html>
