<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/header :: header}"></div>
<script type="module" src="/js/detail.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<body>

<div class="container">
    <header class="py-5 text-center">
        <h1 th:text="${post.title}"></h1>
    </header>
    <section>
        <div style="text-align: right;">
            <input id="post_no" th:value="${post.postId()}" type="hidden"/>
            <p id="created">생성일자: <span th:text="${#temporals.format(post.created_at, 'yy.mm.dd')}">게시물 생성일자</span></p>
            <p id="nickname">닉네임: <span th:text="${post.nickname}">게시물 작성자 닉네임</span></p>
<!--            <p id="count">조회수: <span th:text="${totalCount}">게시물 조회수</span></p>-->
        </div>
    </section>
    <section class="container">
        <div class="content-container">
            <div for="content" th:text="${post.content}"></div>
            <!-- CSRF 토큰 필드 추가 -->
            <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
            <!-- 수정 버튼 -->

            <a class="btn btn-primary"
               href="#"
               role="button" sec:authorize="isAuthenticated()" th:href="@{/posts/{id}/update(id=${post.postId})}"
               th:if="${#authentication.getName() == post.email()}">수정
            </a>

            <!-- 삭제 버튼 -->
            <a class="btn btn-primary" role="button" id="deleteButton" sec:authorize="isAuthenticated()"  onclick="deleteEvent()"
               style="background-color: red; color: white">삭제
            </a>

        </div>
    </section>
    <section class="commentALL">
        <!-- 댓글 갯수 표시 -->
        <p class="comment-count">
            댓글 갯수: <span th:text="${postComments.size()}">5</span>
        </p>

        <!-- 댓글 입력 및 목록 -->
        <div class="container">
            <!-- 댓글 입력 form -->
            <form id="comment-form" method="post" role="form" th:action="@{/comments/new}"
                  th:object="${PostCommentRequest}">
                <input name="${_csrf.parameterName}" type="hidden" value="${_csrf.token}"/>
                <!-- post_no 설정 -->
                <input name="post_no" th:value="${post.postId()}" type="hidden"/>
                <!-- parent_comment_id 설정 -->
                <div class="comment-row">
                    <div class="comment-nickname" th:text="${post.nickname()}"></div>
                    <input class="content" id="content" name="content" placeholder="칭찬과 격려의 댓글은 작성자에게 큰 힘이 됩니다."
                           type="text"/>
                    <button class="btn btn-primary" id="submit-button" type="submit">입력</button>
                </div>
            </form>
        </div>

            <!-- Parent Comments -->
            <div style="padding-bottom: 40px;" th:each="parentComment, iterStat : ${postComments}">
                <div class="parent-comments">
                    <span  class="parentcommentId" id="parentcommentId" th:text="${parentComment.parentCommentId}"/>
                    <div id="ParentId" th:text="${parentComment.id()}" hidden></div>
                    <div class="comment-id" id="commentNickname" th:text="${parentComment.nickname}"></div>
                    <div class="comment-text" id="commentContent" th:text="${parentComment.content}"></div>
                    <div class="small-button">
                        <small id="parentCreateAt">
                            <time class="comment-time"  id="commentCreatedAt" th:text="${#temporals.format(parentComment.createdAt, 'mm')}">
                                분전
                            </time>
                        </small>
                        <span class="like-button" id="like-button">
                            <span class="heart-empty" id="like-icon"></span> <!-- 하트 아이콘 -->
                            <span id="like-text">좋아요</span>
                        </span>
                        <span data-target="#replyForm${iterStat.index}" data-toggle="collapse"
                              id="reply-button" type="button" style="display: none">답글 달기</span>
                        <span class="btn btn-outline-danger" id="deleteComment" onclick="deleteComment()">삭제
                        </span>
                    </div>
                    <!-- Child Comments -->
                    <div class="Child-Comments" style="padding-bottom: 40px;"
                         th:each="childComment : ${parentComment.childComments}">
                        <div class="compartmentalised" sec:authorize="isAuthenticated()">
                            <div th:text="${childComment.nickname}"></div>
                            <div th:text="${childComment.content}"></div>
                            <div class="small-button">
                                <small id="childCreateAt">
                                    <time class="comment-time"
                                          th:text="${#temporals.format(childComment.createdAt, 'mm')}">분전
                                    </time>
                                </small>
                                <span class="child-like-button" id="child-like-button" onclick="likeEvent()">
                            <span class="heart-empty" id="child-like-icon"></span> <!-- 하트 아이콘 -->
                            <span id="childlike-text">좋아요</span>
                        </span>
                                <span class="btn btn-outline-danger" onclick="return confirm('정말로 삭제하시겠습니까?')"
                                      th:action="'/comments/' + ${childComment.id} + '/delete'"
                                      th:method="post" type="submit">삭제
                            </span>
                            </div>
                        </div>
                    </div>
                    <!-- 답글 입력 form -->
                    <div class="reply-form" style="display: none">
                        <form id="reply-form" method="post" th:action="@{/comments/new}" th:object="${PostCommentRequest}">
                            <input name="${_csrf.parameterName}" type="hidden" value="${_csrf.token}" />
                            <input class="commentId" name="id" th:value="${post.postId()}" hidden />
                            <input class="comment-textbox" name="content" />
                            <input class="parent-comment-id" name="parentCommentId" type="hidden" th:value="${parentComment.parentCommentId() == null ? 1 : parentComment.parentCommentId()}" />
                            <button class="btn btn-primary" type="submit">입력</button>
                        </form>
                    </div>
                </div>
            </div>
    </section>
</div>
</body>
<div th:replace="~{fragments/footer :: footer}"/>

</html>
