<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header :: header" />
<title>게시글 작성</title>
<meta charset="utf-8">
</head>
<body>
<div class="container">
    <header class="py-5 text-center" id="post header">
        <h1>게시글 작성</h1>
    </header>

    <form role="post_form" action="/posts" method="post" th:object="${postsSaveRequestDto}">
    <div class="row mb-3 justify-content-md-center">
            <label class="col-sm-2 col-lg-1 col-form-label text-sm-end" for="title">제목</label>
            <div class="col-sm-8 col-lg-9">
                <input class="form-control" id="title" name="title" placeholder="제목을 입력하세요" type="text" for="title">
            </div>
        </div>
        <div class="row mb-3 justify-content-md-center">
            <label class="col-sm-2 col-lg-1 col-form-label text-sm-end" for="content">본문</label>
            <div class="col-sm-8 col-lg-9">
                <textarea class="form-control" id="content" name="content" required rows="5" for="content"></textarea>
            </div>
        </div>
        <div class="row mb-5 justify-content-md-center">
            <div class="col-sm-10 d-grid gap-2 d-sm-flex justify-content-sm-end">
                <button class="btn btn-primary" id="submit-button" type="submit">저장</button>
                <button class="btn btn-secondary" id="cancel-button" type="button">취소</button>
            </div>
        </div>
    </form>
</div>
</body>
<div th:replace="fragments/footer :: footer" />
</html>
