<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<div th:replace="~{fragments/header :: header}"></div>
<script type="module" src="/js/home.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link href="/css/profile.css" rel="stylesheet" type="text/css">
<body>
<main class="container">
    <input th:value ="${#authentication.getName()}" hidden/>
    <div class="wrapper" sec:authorize="isAuthenticated()">
        <div class="profile-card js-profile-card" style="flex: 1;"  sec:authorize="isAuthenticated()">
            <div class="profile-card__img">
                <img src="https://source.unsplash.com/500x200/?dog" alt="profile card">
            </div>

            <div class="profile-card__cnt js-profile-cnt">
                <div class="profile-card__name" id="email" th:text="${info.email}" th:value="${info.email}"></div>

                <div class="profile-card__txt">닉네임: <span th:text="${info.nickname}">입력해주세요</span></div>
                <div class="profile-card__txt">이름: <span th:text="${info.name}">입력해주세요</span></div>
                <div class="profile-card__txt">생일: <span th:text="${info.birthday}">입력해주세요</span></div>
                <div class="profile-card-social">
                </div>

                <div class="profile-card-ctr">
                    <a class="profile-card__button button--blue submit" th:href="@{/members/edit}">수정</a>
                    <button class="profile-card__button button--orange" id="secession" onclick="deleteMember()">탈퇴</button>
                </div>
            </div>
            <div class="profile-card__overlay js-message-close"></div>
        </div>

    <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
    <div class="row" style="flex: 3;">
        <table class="table" id="article-table">
            <thead>
            <tr>
                <th class="postCount"><a>게시글번호</a></th>
                <th class="title col-2"><a>제목</a></th>
                <th class="member_nickname"><a>닉네임</a></th>
                <th class="created-at"><a>작성일</a></th>
                <th class="modified-at"><a>수정일</a></th>
                <th class="modified-at"><a>수정</a></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="posts, loop : ${Posts}" sec:authorize="isAuthenticated()"
                th:if="${#authentication.getName() == posts.email}">
                <td id="post_no" th:text="${posts.postNo}"></td>
                <td>
                    <a th:text="${posts.title}" th:href="@{'/posts/' + ${posts.postNo}}" style="text-decoration: none; color: black;">게시물 보기</a>
                </td>
                <td th:text="${posts.nickname}"></td>
                <td th:text="${posts.createdAt}"></td>
                <td th:text="${posts.modifiedAt}"><
                </td>
                <td>
                    <a class="btn btn-primary" href="#"
                       role="button" th:href="@{/posts/{id}/update (id=${posts.postNo})}">수정
                    </a>
                </td>
            </tr>

            </tbody>

        </table>

    </div>
    </div>
    <div class="row">
        <nav aria-label="Page navigation" id="pagination">
            <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
    </div>
</main>
<div th:replace="~{fragments/footer :: footer}"/>
</body>
</html>