<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block>
    <head>
        <meta charset="utf-8">
        <meta content="webkit" name="renderer">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
        <link href="https://getbootstrap.com/docs/5.3/examples/blog/" rel="canonical">
        <link href="https://cdn.jsdelivr.net/npm/@docsearch/css@3" rel="stylesheet">

        <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
              integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
              rel="stylesheet">
        <script crossorigin="anonymous"
                integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
                src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
        <script crossorigin="anonymous"
                integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
                src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
        <link href="../css/login.css" rel="stylesheet" type="text/css">

    </head>

    <div class="login-page d-flex justify-content-center align-items-center flex-column"> <!-- 수정된 부분 -->
        <div class="text-center"> <!-- 가운데 정렬을 위한 div 추가 -->
            <a aria-label="오늘의집" class="login_logo" href="/static">
                <img alt="path" height="60%" src="../img/ohouse_logo.jpg" width="60%"/>
            </a>
        </div>
        <div class="form">
            <!-- 회원 가입 폼 -->
            <form th:action="@{/members/signup}" class="register-form" method="post">
                <div class="mb-3">
                    <label class="form-label" for="register-email">이메일 주소</label>
                    <input class="form-control" id="register-email" name="email" placeholder="email address" type="text"/>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="Password">비밀번호</label>
                    <!--                    register-password-->
                    <input class="form-control" id="Password" name="Password" placeholder="password" type="password"/>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="register-name">이름</label>
                    <input class="form-control" id="register-name" name="name" placeholder="name" type="text"/>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="nickname">닉네임</label>
                    <input class="form-control" id="nickname" name="nickname" placeholder="nickname" type="text"/>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="birthday">생년월일</label>
                    <input class="form-control" id="birthday" name="birthday" placeholder="birthday" type="date"/>
                </div>
                <!-- CSRF 토큰을 폼에 추가 -->
                <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
                <button class="btn btn-primary" type="submit" id="signupButton">생성</button>
                <p class="message">이미 아이디가 있으신가요? <a class="login" th:href="@{/login}">로그인</a></p>
                <a class="btn-login join_btn btn_click" id="kakao-login-btn">
                    <img alt="카카오" src="https://www.gb.go.kr/Main/Images/ko/member/certi_kakao_login.png"
                         style="max-width: 40%; height: auto;">
                </a>
                <a href="/oauth2/authorization/google">구글 로그인</a>
                <a href="/oauth2/authorization/naver">네이버 로그인</a>

            </form>


        </div>
    </div>
</th:block>
</html>
