<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
</head>
<body>
<th:block th:fragment="footer" xmlns:th="http://www.thymeleaf.org">
    <footer class="py-5 text-center text-body-secondary bg-body-tertiary">
        <p>노다원 포트폴리오
            <a href="https://nodwon.tistory.com/category/%ED%8F%AC%ED%8A%B8%ED%8F%B4%EB%A6%AC%EC%98%A4/ohouseClone">블로그</a>
            by <a href="https://github.com/nodwon/OhouseV1" style=" text-decoration: none;
            color: black; ">@nodawon</a>
            <a href="/" style=" text-decoration: none;
            color: black; ">위로 올라가기</a>
        </p>
    </footer>
</th:block>
</body>
</html>
