<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<footer class="footer py-5 text-center text-body-secondary bg-body-tertiary" th:fragment="footer">
  <p>노다원 포트폴리오 <a href="https://nodwon.tistory.com/category/%ED%8F%AC%ED%8A%B8%ED%8F%B4%EB%A6%AC%EC%98%A4/ohouseClone">블로그</a> by <a href="https://github.com/nodwon/OhouseV1">@nodwon</a>.</p>
  <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
  <p class="mb-0">
    <a href="#">위로 올라가기</a>
  </p>
</footer>
</body>
</html>