<!doctype html>
<html data-bs-theme="auto" lang="ko" xmlns:th="http://www.thymeleaf.org">
<div class="container" th:replace="~{fragments/header :: header}"></div>
<body>
<main class="container">
    <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
        <div class="col-lg-6 px-0">
            <h1 class="display-4 fst-italic">슬라이드 윈도우로 바꾸기</h1>
            <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and
                efficiently about what’s most interesting in this post’s contents.</p>
            <p class="lead mb-0"><a class="text-body-emphasis fw-bold" href="#">Continue reading...</a></p>
        </div>
    </div>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="container bootstrap snippets body">
        <div class="row mb-2"><!--여기가 포스트 시작-->
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary-emphasis">World</strong>
                        <h3 class="mb-0">Featured post</h3>
                        <div class="mb-1 text-body-secondary">Nov 12</div>
                        <p class="card-text mb-auto">This is a wider card with supporting text below as a natural
                            lead-in to additional content.</p>
                        <a class="icon-link gap-1 icon-link-hover stretched-link" href="#">
                            Continue reading
                            <svg class="bi">
                                <use xlink:href="#chevron-right"/>
                            </svg>
                        </a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <svg aria-label="Placeholder: Thumbnail" class="bd-placeholder-img" focusable="false"
                             height="250"
                             preserveAspectRatio="xMidYMid slice" role="img" width="200"
                             xmlns="http://www.w3.org/2000/svg"><title>Placeholder</title>
                            <rect fill="#55595c" height="100%" width="100%"/>
                            <text dy=".3em" fill="#eceeef" x="50%" y="50%">Thumbnail</text>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-success-emphasis">Design</strong>
                        <h3 class="mb-0">Post title</h3>
                        <div class="mb-1 text-body-secondary">Nov 11</div>
                        <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to
                            additional content.</p>
                        <a class="icon-link gap-1 icon-link-hover stretched-link" href="#">
                            Continue reading
                            <svg class="bi">
                                <use xlink:href="#chevron-right"/>
                            </svg>
                        </a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <svg aria-label="Placeholder: Thumbnail" class="bd-placeholder-img" focusable="false"
                             height="250"
                             preserveAspectRatio="xMidYMid slice" role="img" width="200"
                             xmlns="http://www.w3.org/2000/svg"><title>Placeholder</title>
                            <rect fill="#55595c" height="100%" width="100%"/>
                            <text dy=".3em" fill="#eceeef" x="50%" y="50%">Thumbnail</text>
                        </svg>
                    </div>
                </div>
            </div>
        </div>

        <div class="row g-5">
            <div class="col-md-8">
                <h3 class="pb-4 mb-4 fst-italic border-bottom">
                    주간 베스트 게시물
<!--                    <a href="/post_list" size="1%">더보기</a>-->
                </h3>

                <!--여기서 부터 게시물리스트-->
                <div class="container">
                    <div class="row mt-n5">
                        <div class="col-md-6 col-lg-4 mt-5 wow fadeInUp" data-wow-delay=".2s"
                             style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                            <div class="blog-grid">
                                <div class="blog-grid-img position-relative"><img alt="img"
                                                                                  height="70%"
                                                                                  src="https://www.bootdey.com/image/480x480/00FFFF/000000"
                                                                                  width="70%"></div>
                                <div class="blog-grid-text p-4">
                                    <h3 class="h5 mb-3"><a href="#!">Business tool for your customer</a></h3>
                                    <p class="display-30">Excitation McCull-och labors nisei ut aliquot ex ea
                                        commodo.</p>
                                    <div class="meta meta-style2">
                                        <ul>
                                            <li><a href="#!"><i class="fas fa-calendar-alt"></i> 10 Jul,
                                                <script>document.write(new Date().getFullYear())</script>
                                                2023</a></li>
                                            <li><a href="#!"><i class="fas fa-user"></i> User</a></li>
                                            <li><a href="#!"><i class="fas fa-comments"></i> 38</a></li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 mt-5 wow fadeInUp" data-wow-delay=".4s"
                             style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                            <div class="blog-grid">
                                <div class="blog-grid-img position-relative"><img alt="img"
                                                                                  height="70%"
                                                                                  src="https://www.bootdey.com/image/480x480/00FFFF/000000"
                                                                                  width="70%"></div>
                                <div class="blog-grid-text p-4">
                                    <h3 class="h5 mb-3"><a href="#!">Growth your business strategy</a></h3>
                                    <p class="display-30">Exercitation ullamco laboris nisi ut aliquip ex ea
                                        commodo.</p>
                                    <div class="meta meta-style2">
                                        <ul>
                                            <li><a href="#!"><i class="fas fa-calendar-alt"></i> 25 Jun,
                                                <script>document.write(new Date().getFullYear())</script>
                                                2022</a></li>
                                            <li><a href="#!"><i class="fas fa-user"></i> User</a></li>
                                            <li><a href="#!"><i class="fas fa-comments"></i> 68</a></li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 mt-5 wow fadeInUp" data-wow-delay=".6s"
                             style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                            <div class="blog-grid">
                                <div class="blog-grid-img position-relative"><img alt="img"
                                                                                  height="70%"
                                                                                  src="https://www.bootdey.com/image/480x480/00FFFF/000000"
                                                                                  width="70%"></div>
                                <div class="blog-grid-text p-4">
                                    <h3 class="h5 mb-3"><a href="#!">Business people success master plan</a></h3>
                                    <p class="display-30">Exercitation ullamco laboris nisi ut aliquip ex ea
                                        commodo.</p>
                                    <div class="meta meta-style2">
                                        <ul>
                                            <li><a href="#!"><i class="fas fa-calendar-alt"></i> 16 May,
                                                <script>document.write(new Date().getFullYear())</script>
                                                2022</a></li>
                                            <li><a href="#!"><i class="fas fa-user"></i> User</a></li>
                                            <li><a href="#!"><i class="fas fa-comments"></i> 58</a></li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 mt-5 wow fadeInUp" data-wow-delay=".8s"
                             style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInUp;">
                            <div class="blog-grid">
                                <div class="blog-grid-img position-relative"><img alt="img"
                                                                                  height="70%"
                                                                                  src="https://www.bootdey.com/image/480x480/00FFFF/000000"
                                                                                  width="70%"></div>
                                <div class="blog-grid-text p-4">
                                    <h3 class="h5 mb-3"><a href="#!">Results professional report</a></h3>
                                    <p class="display-30">Exercitation ullamco laboris nisi ut aliquip ex ea
                                        commodo.</p>
                                    <div class="meta meta-style2">
                                        <ul>
                                            <li><a href="#!"><i class="fas fa-calendar-alt"></i> 02 Apr,
                                                <script>document.write(new Date().getFullYear())</script>
                                                2022</a></li>
                                            <li><a href="#!"><i class="fas fa-user"></i> User</a></li>
                                            <li><a href="#!"><i class="fas fa-comments"></i> 38</a></li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 mt-5 wow fadeInUp" data-wow-delay="1s"
                             style="visibility: visible; animation-delay: 1s; animation-name: fadeInUp;">
                            <div class="blog-grid">
                                <div class="blog-grid-img position-relative"><img alt="img"
                                                                                  height="70%"
                                                                                  src="https://www.bootdey.com/image/480x480/00FFFF/000000"
                                                                                  width="70%"></div>
                                <div class="blog-grid-text p-4">
                                    <h3 class="h5 mb-3"><a href="#!">Business strategy concept</a></h3>
                                    <p class="display-30">Exercitation ullamco laboris nisi ut aliquip ex ea
                                        commodo.</p>
                                    <div class="meta meta-style2">
                                        <ul>
                                            <li><a href="#!"><i class="fas fa-calendar-alt"></i> 25 Mar,
                                                <script>document.write(new Date().getFullYear())</script>
                                                2022</a></li>
                                            <li><a href="#!"><i class="fas fa-user"></i> User</a></li>
                                            <li><a href="#!"><i class="fas fa-comments"></i> 68</a></li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 mt-5 wow fadeInUp" data-wow-delay="1.2s"
                             style="visibility: visible; animation-delay: 1.2s; animation-name: fadeInUp;">
                            <div class="blog-grid">
                                <div class="blog-grid-img position-relative"><img alt="img"
                                                                                  height="70%"
                                                                                  src="https://www.bootdey.com/image/480x480/00FFFF/000000"
                                                                                  width="70%"></div>
                                <div class="blog-grid-text p-4">
                                    <h3 class="h5 mb-3"><a href="#!">Business people meeting</a></h3>
                                    <p class="display-30">Exercitation ullamco laboris nisi ut aliquip ex ea
                                        commodo.</p>
                                    <div class="meta meta-style2">
                                        <ul>
                                            <li><a href="#!"><i class="fas fa-calendar-alt"></i> 10 Feb,
                                                <script>document.write(new Date().getFullYear())</script>
                                                2022</a></li>
                                            <li><a href="#!"><i class="fas fa-user"></i> User</a></li>
                                            <li><a href="#!"><i class="fas fa-comments"></i> 58</a></li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
<!--                    <div class="row mt-6 wow fadeInUp" data-wow-delay=".6s"-->
<!--                         style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">-->
<!--                        <div class="col-9">-->
<!--                            <div class="pagination text-small text-uppercase text-extra-dark-gray">-->
<!--                                <ul>-->
<!--                                    <li><a href="#!"><i-->
<!--                                            class="fas fa-long-arrow-alt-left me-1 d-none d-sm-inline-block"></i>-->
<!--                                        Prev</a></li>-->
<!--                                    <li class="active"><a href="#!">1</a></li>-->
<!--                                    <li><a href="#!">2</a></li>-->
<!--                                    <li><a href="#!">3</a></li>-->
<!--                                    <li><a href="#!">Next <i-->
<!--                                            class="fas fa-long-arrow-alt-right ms-1 d-none d-sm-inline-block"></i></a>-->
<!--                                    </li>-->
<!--                                </ul>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>

                <!-- 페이지네이션-->
                <div class="row">
                    <nav id="pagination" aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </nav>
                </div>
<!--                <nav aria-label="Pagination" class="blog-pagination">-->
<!--                    <a class="btn btn-outline-primary rounded-pill" href="#">Older</a>-->
<!--                    <a aria-disabled="true" class="btn btn-outline-secondary rounded-pill disabled">Newer</a>-->
<!--                </nav>-->
            </div>
            <!-- 사이드바-->
            <div th:replace="~{fragments/sidebar :: sidebar}"/>
        </div>
    </div>
</main>
<div th:replace="~{fragments/footer :: footer}"/>
</body>
</html>
