<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> House portfolio</title>
</head>
<body>
<th:block th:fragment="PreShopList" xmlns:th="http://www.thymeleaf.org">
    <div class="row">
        <div class="col-md-12" style="padding: 20px 0;">
            <h3 class="pb-4 mb-4 fst-italic border-bottom">
                주간 베스트 상품
                <span class="more-link">
                    <a href="/shop">더보기</a>
                </span>
            </h3>
            <!-- 여기서 부터 shop 리스트 -->
            <div class="row"style="padding: 20px 0;">
                <div class="col-md-3" th:each="post, iterStat : ${Posts}" th:if="${iterStat.index < 4}">
                    <div class="card">
                        <div class="card__image-holder">
                            <img alt="wave" class="card__image" src="https://source.unsplash.com/150x100/?wave"
                                 style="width: 100%; height: auto;"/>
                        </div>
                        <div class="card-title">
                            <a class="toggle-info btn" href="#">
                                <span class="left"></span>
                                <span class="right"></span>
                            </a>
                            <h2>
                                <a th:text="${post.title}" th:href="@{/posts/{id} (id=${post.postNo})}"></a>
                            </h2>
                            <a>
                                <span th:text="${post.nickname()}"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 여기까지 -->
        </div>
    </div>
</th:block>
</body>
</html>
