<!DOCTYPE html>
<th:block  xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <meta charset="utf-8">
    <meta content="webkit" name="renderer">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link href="https://getbootstrap.com/docs/5.3/examples/blog/" rel="canonical">
    <link href="https://cdn.jsdelivr.net/npm/@docsearch/css@3" rel="stylesheet">

    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
          rel="stylesheet">

    <script crossorigin="anonymous"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
<!--    <script src="../js/app/index.js"></script>-->
    <link rel="stylesheet" type="text/css" href="../css/login.css">
<script>
    $('.message a').click(function(){
        $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
    });
</script>
</head>
<div class="login-page">
    <a aria-label="오늘의집" class="login_logo">
        <img href="/" alt="path" height="100" width="360" src="../img/ohouse_logo.jpg"/>
    </a>
    <div class="form">
        <form class="register-form">
            <input type="text" placeholder="email address"/>
            <input type="password" placeholder="password"/>
            <input type="text" placeholder="name"/>
            <input type="text" placeholder="nickname"/>
            <input type="date" placeholder="birthday"/>
            <button>create</button>
            <p class="message">Already registered? <a href="#">Sign In</a></p>
        </form>
        <form class="login-form">
            <input type="text" placeholder="email"/>
            <input type="password" placeholder="password"/>
            <button>login</button>
            <p class="message">Not registered? <a href="#">Create an account</a></p>
            <a class="btn-login join_btn btn_click" id="kakao-login-btn">
                <img src="https://www.gb.go.kr/Main/Images/ko/member/certi_kakao_login.png"  style="max-width: 40%; height: auto;"  alt="카카오">
            </a>
        </form>
    </div>
</div>
</th:block>
</html>
