
div.card.a.btn {
    background: #0096a0;
    border-radius: 4px;
    box-shadow: 0 2px 0px 0 rgba(0,0,0,0.25);
    color: #FFFFFF;
    display: inline-block;
    padding: 6px 30px 8px;
    position: relative;
    text-decoration: none;
    transition: all 0.1s 0s ease-out;
}

div.card.no-touch a.btn:hover {
    background: #0096a0,2.5;
    box-shadow: 0px 8px 2px 0 rgba(0, 0, 0, 0.075);
    transform: translateY(-2px);
    transition: all 0.25s 0s ease-out;
}

div.card.no-touch a.btn:active,
div.card.a.btn:active {
    background: #0096a0,2.5;
    box-shadow: 0 1px 0px 0 rgba(255,255,255,0.25);
    transform: translate3d(0,1px,0);
    transition: all 0.025s 0s ease-out;
}
.more-link{
    float: right; /* 오른쪽 정렬 */
    font-size: 20px; /* 글자 크기 변경 */
    font-family: '폰트 이름', sans-serif; /* 원하는 폰트 이름으로 설정, 존재하는 폰트의 이름으로 대체하세요 */
    color: rgb(53, 197, 240); /* 색상 변경 */
    text-decoration: none; /* 밑줄 제거 */

}
.spacer-row{
    height: 10%; /* 세로 간격을 10%로 설정 */
    width: 10%; /* 가로 간격을 10%로 설정 */
}
div.cards {
    margin: 80px auto;
    max-width: 960px;
    text-align: center;
}

div.card {
    background: #ffffff;
    display: inline-block;
    margin: 8px;
    max-width: 200px;
    perspective: 1000;
    position: relative;
    text-align: left;
    transition: all 0.3s 0s ease-in;
    width: 300px;
    z-index: 1;
}

div.card.img {
    max-width: 300px;
}

.card__image-holder {
    background: rgba(0,0,0,0.1);
    height: 0;
    padding-bottom: 75%;
}

div.card-title {
    background: #ffffff;
    padding: 6px 15px 10px;
    position: relative;
    z-index: 0;
}
div.card-title.h2.a{
    text-decoration: none; /* 밑줄 제거 */
    color: #1a1d20;
}

a.toggle-info {
    border-radius: 32px;
    height: 32px;
    padding: 0;
    position: absolute;
    right: 15px;
    top: 10px;
    width: 32px;
}

div.card-title.span {
    background: #ffffff;
    display: block;
    height: 2px;
    position: absolute;
    top: 16px;
    transition: all 0.15s 0s ease-out;
    width: 12px;
}

div.card-title.span.left {
    right: 14px;
    transform: rotate(45deg);
}
div.card-title.span.right {
    left: 14px;
    transform: rotate(-45deg);
}


div.card-title.h2 {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.05em;
    margin: 0;
    padding: 0;
}
div.card-title.small {
    display: block;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.025em;
}


div.card-description {
    padding: 0 15px 10px;
    position: relative;
    font-size: 14px;
}

cards.div.card-actions {
    box-shadow: 0 2px 0px 0 rgba(0,0,0,0.075);
    padding: 10px 15px 20px;
    text-align: center;
}

cards.div.card-flap {
    background:#ffffff,15;
    position: absolute;
    width: 100%;
    transform-origin: top;
    transform: rotateX(-90deg);
}
cards.div.flap1 {
    transition: all 0.3s 0.3s ease-out;
    z-index: -1;
}
cards.div.flap2 {
    transition: all 0.3s 0s ease-out;
    z-index: -2;
}



div.cards.showing
div.card {
    cursor: pointer;
    opacity: 0.6;
    transform: scale(0.88);
}


.no-touch  div.cards.showing
div.card:hover {
    opacity: 0.94;
    transform: scale(0.92);
}


div.card.show {
    opacity: 1;
    transform: scale(1);}

div.card-title
a.toggle-info {
    background: #ff6666;
}
div.card-title
a.toggle-info span {
    top: 15px;
}
div.card-title
a.toggle-info span.left {
    right: 10px;
}
div.card-title
a.toggle-info span.right {
    left: 10px;
}


div.card-flap {
    background: #ffffff;
    transform: rotateX(0deg);
}
div.flap1 {
    transition: all 0.3s 0s ease-out;
}
div.flap2 {
    transition: all 0.3s 0.2s ease-out;
}
.comment-actions {
    display: flex;
    justify-content: space-between;
}

.comment-actions a {
    color: black;
    text-decoration: none;
    margin-right: 10px; /* 링크 사이의 간격을 조절할 수 있습니다. */
}




. commentlist comment-text {
    flex: 8; /* 남은 공간의 8배 크기 */
}

.small-button {
    display: flex; /* 내부 요소를 가로로 배치 */
    align-items: center; /* 세로 중앙 정렬 */
    margin: 5px;
    color: gray;
}

.small-button small,
.small-button .like-button,
.small-button .child-like-button,
.small-button #reply-button {
    font-size: 12px; /* 폰트 크기 설정 */
    cursor: pointer;
    padding: 2px;
    margin-right: 4px; /* 아이콘과 텍스트 간격 설정 */

}

.small-button #like-icon #child-like-icon {
    width: 12px;
    height: 12px;
    margin-right: 1px; /* 아이콘과 텍스트 간격 설정 */

}

.heart-empty::before,
.heart-filled::before {
    content: "\2665"; /* 하트 모양의 유니코드 문자 (채워진 하트) */
    font-size: 12px; /* 아이콘 크기 설정 */
    margin-right: 4px; /* 아이콘과 텍스트 간격 설정 */

}

/* 하트 아이콘 스타일 (기본 상태) */
.heart-empty::before {
    color: gray; /* 빈 하트 색상 설정 */
}

/* 하트 아이콘 스타일 (선택된 상태) */
.heart-filled::before {
    color: blue; /* 채워진 하트 색상 설정 */
}


.comment-row {
    display: flex; /* Flexbox 레이아웃 사용 */
    justify-content: space-between; /* 요소 간의 간격을 동일하게 설정 */
    align-items: center; /* 요소를 수직 중앙에 정렬 */
    font-size: 1rem; /* 글자 크기 설정 (1rem은 기본 크기) */
}

. comment-row comment-nickname {
    flex: 1; /* 남은 공간을 모두 차지 */
}

. comment-row content {
    flex: 8; /* 남은 공간의 8배 크기 */
}

.comment-actions {
    display: flex;
    justify-content: space-between;
}

.comment-actions a {
    color: black;
    text-decoration: none;
    margin-right: 10px; /* 링크 사이의 간격을 조절할 수 있습니다. */
}

